<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilesmalllibrary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.example.mobilesmalllibrary.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.example.mobilesmalllibrary.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mobilesmalllibrary.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mobilesmalllibrary.CameraTestActivity" >
        </activity>
        <activity
            android:name="com.example.mobilesmalllibrary.SearchBooksActivity"
            android:label="@string/title_activity_search_books"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.mobilesmalllibrary.ShowSearchBooksResultActivity"
            android:label="@string/title_activity_show_search_books_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.mobilesmalllibrary.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.mobilesmalllibrary.GenerateBorrowingTokenActivity"
            android:label="@string/title_activity_generate_borrowing_token"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.mobilesmalllibrary.ShowBorrowingRecordActivity"
            android:label="@string/title_activity_show_borrowing_record"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.mobilesmalllibrary.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="com.example.mobilesmalllibrary.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.javapapers.android" />
            </intent-filter>
        </receiver>

        <service android:name="com.example.mobilesmalllibrary.GCMNotificationIntentService" />

        <activity
            android:name="com.example.mobilesmalllibrary.ShowAnnouncementActivity"
            android:label="@string/title_activity_show_announcement" >
        </activity>
    </application>

</manifest>
